* {
    padding: 0;
    margin: 0;
}

.container {
    width: 1045px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}