* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    font-family: "Roboto", 'Courier New', Courier, monospace;
}

.container {
    width: 1045px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.section {
    padding: 100px;
}

.no-left-right {
    padding-left: 0;
    padding-right: 0;
}

.icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
}