* {
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1045px;
    margin: 0 auto;
}

.tool-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.button {
    border: 1px solid rgb(83, 175, 152);
    border-radius: 3px;
    padding: 5px 8px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.strikethrough {
    text-decoration: line-through;
}

.commentbox-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.commentbox-wrapper .comment-button {
    cursor: pointer;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    align-self: end;
}

.spoiler {
    background-color: grey;
    color: transparent;
}

.comment-box {
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px;
}